xsd/plugins/executor.local.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	
	<!-- local executor -->
	<x:complexType name="executorLocalType">
		<x:simpleContent>
			<x:extension base="executorAbstractType">
				<x:attribute name="type" type="x:string" fixed="local" />
			</x:extension>
		</x:simpleContent>
	</x:complexType>

	<!-- tag for executor in XML file -->
	<x:element name="local" type="executorLocalType" substitutionGroup="executorType" />
</x:schema>
