xsd/plugins/processblock.input.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

	<!-- process input -->
	<x:complexType name="processInputType">
		<x:simpleContent>
			<x:extension base="processblockAbstractType">
				<x:attribute name="sep" type="x:string" default=":" />
				<x:attribute name="compareName" type="x:string" default="" />
				<x:attribute name="color" type="x:string" default=""/>
			</x:extension>
		</x:simpleContent>
	</x:complexType>

	<!-- tag for process block in XML file -->
	<x:element name="processInput" type="processInputType" substitutionGroup="processblockType" />
</x:schema>
