xsd/settings.modules.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

	<!-- module folder block definition -->
	<x:complexType name="modulesType">
		<x:all>
			<x:element name="folder" type="absoluteOrRelativePathType" minOccurs="0" maxOccurs="unbounded" />
		</x:all>
		<x:attribute name="defaultFolder" type="absoluteOrRelativePathType" default="modules/"/>
	</x:complexType>

</x:schema>
